<h1>Editando Usuário</h1>

<%= render 'form', consumer: @consumer %>

<%= link_to 'Visualizar', @consumer, class:"btn btn-primary" %> 
<%= link_to 'Voltar', consumers_path, class:"btn btn-success" %>

</div>
</div>